{% extends 'base.html' %}
{% block title %}Leave Status{% endblock %}
{% block content %}
  <h1>Leave Status</h1>
  {% if user_leaves %}
    <table class="user-table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reason</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for leave in user_leaves %}
          <tr>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.reason }}</td>
            <td>{{ leave.status }}</td>
            <td>
              {% if leave.status not in "['declined', 'approved']" %}
                <form method="post" action="{% url 'delete_leave' leave.id %}">
                  {% csrf_token %}
                  <button type="submit">Delete</button>
                </form>
              {% else %}
                <button disabled>Delete</button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No leave applications found.</p>
  {% endif %}
{% endblock %}